
@using OGtech.Models
@model OGtech.Models.Item
@{
    ViewBag.Title = "newItem";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <h2>New Item</h2>
@using (Html.BeginForm("Save", "Item"))
{
    <div class="form-group">
        @Html.LabelFor(m => m.name)
        @Html.TextBoxFor(m => m.name, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.RFIDCode)
        @Html.TextBoxFor(m => m.RFIDCode, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.descreption)
        @Html.TextAreaFor(m => m.descreption, new { @class = "form-control" })
    </div>
    

    @Html.HiddenFor(m => m.id)
    <button type="submit" class="btn btn-primary">Save</button>
    <button class="btn btn-default">@Html.ActionLink("Back To List", "Index", "Item", null)</button>

}